autopep8
click
dataclasses
dnspython
Flask
gunicorn
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
pep8
pycodestyle
pymongo
pymysql
python-dateutil
pytz
six
toml
typing-extensions
Werkzeug
xlrd
zipp
