@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

@import url(//db.onlinewebfonts.com/c/f2ecc6ef740fcf60de095b0b087dd58d?family=OCR+A+Extended);

#btn{
  padding-left: 200px;
}

html{
  height:100%;
  width:100%;
}

body{
  height:100%;
  width:100%;
}

header{
  background-color: #282828;
  font-family: 'OCR A Extended', 'Titillium Web', sans-serif;
  color: #d4d4d4;
  height:5%;
  /* padding-left: 70px; */
  width:100%;
}

header:hover{
  background-color: #353535;
  height:5%;
  width:100%;
  position:absolute;
  top:0;
}

header p{
  display: inline-block;
  font-size: 2em;
}

.folder{
  padding-left: 70px;
  padding-top: 10px;  
}

#titulo{
  position:relative;
  font-style: normal;
  float: right;
  padding-right: 10px;
  padding-top: 10px;  
  font-variant: small-caps;
}

main{
  background-color: #776b6b;
  height:90%;
  width:100%;
  position:absolute;
  /* padding-left: 70px; */
  top:5%;
  bottom:5%;
}

main p{
  /* width:100%; */
  padding-left: 70px;
}

.topic{
  padding-left: 70px;
  font-size: 3em;
  color: #d4d4d4;
  font-variant: small-caps;
  font-weight: bold;
  position:relative;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media screen and (max-width: 800px){
  .topic {
    font-size: 6vw;
    margin: 1vw 0 2vw
      }
}

.enlaces{
  padding-left: 70px;
}

footer{
  background-color: #202020;
  height:5%;
  width:100%;
  /* padding-left: 70px; */
  position:absolute;
  bottom:0;
}

footer:hover{
  background-color: #353535;
  height:5%;
  width:100%;
  position:absolute;
  bottom:0;
}

.sign{
  color:  #d4d4d4;
  position:relative;
  margin: 0;
  align-content: center;
  vertical-align: middle;  
  text-align: center;
  font-family: 'OCR A Extended', 'Titillium Web', sans-serif;
  display: inline-block;
  padding-top: 10px;
}

.nombre{
  padding-left: 70px;
}

.fa-sitemap{
  position:relative;
  float: right;
  color: #d4d4d4;
  padding-right: 10px;
  top:10px;
  vertical-align: middle;
}

.webmap{
  position:relative;
  font-style: normal;
  float: right;
  padding-right: 10px;
  font-variant: small-caps;
}

.sign:hover{
  background-color: #353535;
}

main .formulario{
  color: #d4d4d4;
  padding-left: 70px;
}

main .container{
  height: 80%;
  width: 90%;
  align-items: center;
  padding-left: 70px;
}

main .cv{
  height: 50%;
  width: 90%;
  align-items: center;
}

main .row{
  text-align: center;
  display: flex;
  height: 50%;
  flex-wrap: wrap;
  align-items: space-evenly;
}

main .col-md-4{
  /* font-size: 4vw; */
  font-size: 200%;
  color: #282828;
  vertical-align: middle;
  /* align-items: center; */
  height: 90%;
  width: 32%;
  margin: 3px;
}

@media screen and (max-width: 800px){
  main .col-md-4 {
    font-size: 4vw;
      }
}

.cont{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  padding: 15px;
  font-variant: small-caps;
  overflow-wrap: break-word;
}

.cont-1{
  background-color:rgb(197, 188, 188);
}

.cont-2{
  background-color:rgb(197, 160, 160);
}

.cont-3{
  background-color:rgb(197, 140, 140);
}

.cont-4{
  background-color:rgb(197, 120, 120);
}

.cont-5{
  background-color:rgb(197, 100, 100);
}

.cont-6{
  background-color:rgb(197, 80, 80);
}

/* .container_barra{
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-left: 120px;
  top: 50%;
  vertical-align: middle;
  height: 41%;
} */
/* 
.contenido_barratemporal{
  text-align: center;
} */

.barratemporal{
  align-items: center;
}

.barra{
  list-style: none;
/*  display: inline;*/
  color: #d4d4d4;
  float: left;
  height: 100%;
  width: 5%;
}

.year_todas{
  margin-right: 10px;
  margin-top: 3px;
/*  float: left;*/
}

.year_todas:hover{
  text-decoration: underline;
  font-weight: bold;
}

#year2005{
  color: #d4d4d4;
}

.display_content{
  /* height: 100%;
  width: 90%; */
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  align-items: space-evenly;
  text-align: center;
  padding-left: 120px;
  top: 50%;
  vertical-align: middle;
  height: 41%;
}

.display{
  display: flex;
  flex-direction: column;
  margin: 2%;
  height: 90%;
  width: 40%;
  align-content: center;
  align-items: space-evenly;
  justify-content: start;
  border-style: solid;
  border-radius: 5px;
  border-color: #202020;
  background-color: #d4d4d4;
}

.div_title{
  font-size: 1.5em;
  font-variant: small-caps;
  color: #d4d4d4;
  background-color: #776b6b;
  margin: 1em;
  border-radius: 5px;
}

.div_content{
  font-size: 1em;
  margin: 1em;
}

/* #education{
  float: left;
}

#experience{
  float: right;
} */

.year_selector{
  display: flex;
  flex-wrap: wrap;
  width: 5%;
  height: 10%;
  background: #5fa2db; 
}

#year_form{
  border-radius: 5px;
  text-align: center;
  width: auto;
}

#label_year{
  font-weight: bold;
  color: #d4d4d4;
}

.contenido_year{
  background-color: #d4d4d4;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.visorpdf{
  display: block;
  height: 100%;
  width: 100%;
}

.modal{
  /* margin-left: 30px; */
  padding-left: 70px;
  height: 100%;
  width: 100%;
  align-self: center;
  top: 0;
  left: 5px;
}

.fade.in{
  opacity: 1;
  background-color: #202020;
}

.modal-dialog{
  height: 90%;
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 1;
}

@media screen and (max-width: 800px){
  .modal-dialog {
    width: 100%;
    opacity: 1;
      }
}

.modal-content{
  height: 100%;
  width: 97%;
  opacity: 1;
}

.modal-header{
  height: 7.5%;
  width: 97%;
  top: 0;
}

.modal-body{
  height: 85%;
  width: 97%;
  margin: 0;
}

.modal-footer{
  height: 7.5%;
  width: 100%;
  bottom: 0;
}

.modal-title{
  font-variant: small-caps;
  font-size: 1.5em;
}

.footer p{
  margin: 0;
  align-content: center;
  vertical-align: middle;  
}
  
.fa-2x {
font-size: 2em;
}

.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}

.fa-grid {
font-size:20vh;
position: relative;
  }

@media screen and (max-width: 800px){
  .fa-grid {
    font-size:8vh;
    position: relative;
      }
}
  
.fa-home{
  background-color: #574d4d;
}

.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
    background:#212121;
    border-right:1px solid #e5e5e5;
    position:absolute;
    font-weight: bold;
    font-size: 3em;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    box-sizing:border-box;
    width:62px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    transform:translateZ(0) scale(1,1);
    z-index:1000;
    }

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:20px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:189px;
font-family: 'OCR A Extended', 'Titillium Web', sans-serif;

}

.text-home{
  background-color: #574d4d;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

@font-face {
  font-family: "OCR A Extended";
  font-weight: 300;
  font-size: 4em;
  src: url("//db.onlinewebfonts.com/t/f2ecc6ef740fcf60de095b0b087dd58d.eot");
  src: url("//db.onlinewebfonts.com/t/f2ecc6ef740fcf60de095b0b087dd58d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f2ecc6ef740fcf60de095b0b087dd58d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f2ecc6ef740fcf60de095b0b087dd58d.woff") format("woff"), url("//db.onlinewebfonts.com/t/f2ecc6ef740fcf60de095b0b087dd58d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f2ecc6ef740fcf60de095b0b087dd58d.svg#OCR A Extended") format("svg"); } 

@font-face {
  font-family:'Titillium Web', sans-serif, 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.copy-left {
  display: inline-block;
  text-align: right;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  }
