{% extends "layout.html" %}

<!--Header-->
{% block header %}
    <p class=folder>Página principal</p>
{% endblock %}

{% block main %}
    <br>
    <h3 class="topic">Bienvenido a mi aplicación web</h3>
    <!-- <p class=topic>
        Encontrarás información sobre mi trayectoria profesional, desarrollos, publicaciones y otros contenidos que definen mi perfil.
    </p> -->
    <br>
    <div class="container">
        <div class="row">
            <a class="col-md-4 cont cont-1" href="/WebPersonal/curriculum">Curriculum<span><br><br>
                <i class="fa fa-file-text-o fa-grid"></i></span></a>
            <a class="col-md-4 cont cont-2" href="/WebPersonal/portfolio">Portfolio<span><br><br>
                <i class="fa fa-folder-open fa-grid"></i></span></a>
            <a class="col-md-4 cont cont-3" href="/WebPersonal/hobbies">Hobbies<span><br><br>
                <i class="fa fa-smile-o fa-grid"></i></span></a>
        </div>
        <div class="row">
            <a class="col-md-4 cont cont-4" href="/WebPersonal/enlaces">Enlaces<span><br><br>
                <i class="fa fa-code fa-grid"></i></span></a>
            <a class="col-md-4 cont cont-5" href="/WebPersonal/recomendaciones">Recomendaciones<span><br><br>
                <i class="fa fa-compass fa-grid"></i></span></a>
            <a class="col-md-4 cont cont-6" href="/WebPersonal/redessociales">Redes sociales<span><br><br>
                <i class="fa fa-linkedin-square fa-grid"></i></span></a>
        </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}