{% extends 'layout.html' %}

<!-- Head -->
{% block head %}
    <!-- Local JavaScript library-->
    <script src="{{ url_for('static', filename='js/scripts/portfolio.js') }}"></script>
{% endblock %}

<!--Header-->
{% block header %}
    <p class=folder>Portfolio</p>
{% endblock %}

<!--Main-->
{% block main %}

<!-- <div class="contenedor" id="portfolio_ciencia"></div>
<div class="contenedor" id="portfolio_programación"></div>
<div class="contenedor" id="portfolio_fotografía"></div>
<div class="contenedor" id="portfolio_dron"></div> -->

<div class="container portfolio">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link show" id="nav-inv-tab" data-toggle="tab" href="#nav-inv" role="tab" aria-controls="nav-inv" aria-selected="false">Investigación</a>
            <a class="nav-item nav-link" id="nav-des-tab" data-toggle="tab" href="#nav-des" role="tab" aria-controls="nav-des" aria-selected="false">Desarrollo</a>
            <a class="nav-item nav-link" id="nav-fot-tab" data-toggle="tab" href="#nav-fot" role="tab" aria-controls="nav-fot" aria-selected="false">Fotografía</a>
            <a class="nav-item nav-link" id="nav-dron-tab" data-toggle="tab" href="#nav-dron" role="tab" aria-controls="nav-dron" aria-selected="false">Dron</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-inv" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="portfolio-item">
                <div class="accordion" id="myAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne">Artículos</button>									
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show">
                            <div class="card-body">
                                <p>HTML stands for HyperText Markup Language. HTML is the standard markup language for describing the structure of web pages. <a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Congresos</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse">
                            <div class="card-body">
                                <p>Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">Proyectos</button>                     
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse">
                            <div class="card-body">
                                <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-des" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="portfolio-item">
                <div class="accordion" id="myAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne">Aplicaciones</button>									
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show">
                            <div class="card-body">
                                <p>HTML stands for HyperText Markup Language. HTML is the standard markup language for describing the structure of web pages. <a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">APIs</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse">
                            <div class="card-body">
                                <p>Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">Scripts</button>                     
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse">
                            <div class="card-body">
                                <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-fot" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="portfolio-item">
                <div class="accordion" id="myAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne">B&N</button>									
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show">
                            <div class="card-body">
                                <p>HTML stands for HyperText Markup Language. HTML is the standard markup language for describing the structure of web pages. <a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Paisaje</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse">
                            <div class="card-body">
                                <p>Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">Detalle</button>                     
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse">
                            <div class="card-body">
                                <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-dron" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="portfolio-item">
                <div class="accordion" id="myAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne">Vídeos corporativos</button>									
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show">
                            <div class="card-body">
                                <p>HTML stands for HyperText Markup Language. HTML is the standard markup language for describing the structure of web pages. <a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Vídeos de paisaje</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse">
                            <div class="card-body">
                                <p>Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">Vídeos creativos</button>                     
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse">
                            <div class="card-body">
                                <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">Vídeos creativos</button>                     
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse">
                            <div class="card-body">
                                <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="container portfolio">
    <nav class="navbar-expand-lg navbar-dark bg-dark">
        <ul class="nav nav-pills" id="nav-tab" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="nav-inv-tab" data-toggle="tab" href="#nav-inv" role="tab" aria-controls="nav-inv" aria-selected="false">Investigación</a></li>
            <li class="nav-item"><a class="nav-link" id="nav-des-tab" data-toggle="tab" href="#nav-des" role="tab" aria-controls="nav-des" aria-selected="false">Desarrollo</a></li>
            <li class="nav-item"><a class="nav-link" id="nav-fot-tab" data-toggle="tab" href="#nav-fot" role="tab" aria-controls="nav-fot" aria-selected="false">Fotografía</a></li>
            <li class="nav-item"><a class="nav-link" id="nav-dron-tab" data-toggle="tab" href="#nav-dron" role="tab" aria-controls="nav-dron" aria-selected="false">Dron</a></li>
        </ul>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade active" id="nav-inv" role="tabpanel" aria-labelledby="nav-home-tab">PRUEBA CONTENIDO</div>
        <div class="tab-pane fade" id="nav-des" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
        <div class="tab-pane fade" id="nav-fot" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
        <div class="tab-pane fade" id="nav-dron" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    </div>
</div> -->

{% endblock %}